<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Agregar Descuento</title>
<meta charset="UTF-8" />
</head>
<body>
	<section th:fragment="agregarDescuento">
		<div id="agregarDescuento" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-info text-white">
						<h5 class="modal-title" th:text="#{accion.agregarDescuentos}">Agregar
							Descuento</h5>
						<button class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<form th:action="@{/guardarDescuento}" th:object="${descuento}"
						method="POST" class="was-validated">
						<div class="modal-body">
							<div class="form-group">
								<label for="idAliado" th:text="#{descuento.aliado}">Aliado</label> 
								<select
									class="form-control" name="idAliado" id="idAliado">
									<option value="0">privado</option>
									<option th:each="aliadosComerciales : ${aliadosComerciales}"
										th:value="${aliadosComerciales.idAliado}"
										th:text="${aliadosComerciales.nombre}"></option>
								</select>
							</div>
							
							<div class="form-group">
								<label for="idAliado" th:text="#{descuento.examenes}">Examen</label> 
								<select
									class="form-control" name="idExamen" id="idExamen">
									<option th:each="examenComercial : ${examenComercial}"
										th:value="${examenComercial.idExamen}"
										th:text="${examenComercial.nombre}"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="direccion" th:text="#{descuento.descuento}">Descuento en %</label>
								<input type="number" min="1" max="100"class="form-control" name="descuento"
									required="true">
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" type="submit"
								th:text="#{accion.guardar}">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
