<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Editar Aliado</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarAliado">
            <form th:action="@{/guardarAliado}" th:object="${aliado}"
                  method="POST" class="was-validated">
                <input type="hidden" name="idAliado" th:field="*{idAliado}"/>
                <section th:replace="layout/botonesEditarAliado :: botonesEditar"></section>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.editar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre">[[#{aliado.nombre}]]</label>
                                            <input type="text" class="form-control" name="nombre" 
                                                   required="true" th:field="*{nombre}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="rif">[[#{aliado.rif}]]</label>
                                            <input type="text" class="form-control" name="rif" 
                                                   required="true" th:field="*{rif}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="direccion">[[#{aliado.direccion}]]</label>
                                            <input type="text" class="form-control" name="direccion" 
                                                   required="true" th:field="*{direccion}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>
